extends layout

block content
  h1= title
  a.button.update.res.create.home.end(href='/') HOME

  -var img2 = 'http://ddragon.leagueoflegends.com/cdn/img/champion/loading/'+Details.key+'_0.jpg'
  .detail-wrapper
    .general-info
      .lore-info
        p(class='title')=Details.name
        p(class='title-med')=Details.title
        p=Details.lore
        p(class='title-med') ALLY TIPS 
        each tip in Details.allytips 
         p=tip
        P(class='title-med') ENEMPY TIPS 
        each tip in Details.enemytips 
         p=tip
        P(class='title-med') BASE STATS
        .stat-wrapper
          p Health:
          p #{Details.stats.hp}
        .stat-wrapper
          p Damage:
          p #{Details.stats.attackdamage}
        .stat-wrapper
          p Mana: 
          p #{Details.stats.mp}
        .stat-wrapper
          p Mana Regen 
          p #{Details.stats.mpregen}
        .stat-wrapper 
          p Armor: 
          p #{Details.stats.armor}
        .stat-wrapper 
          p Magic Resist: 
          p #{Details.stats.spellblock}
        .stat-wrapper
          p Move Speed: 
          p #{Details.stats.movespeed}
        .stat-wrapper
          p Health per level: 
          p #{Details.stats.hpperlevel}
        .stat-wrapper
          p Attack Range: 
          p #{Details.stats.attackrange}
        .stat-wrapper
          p Attack Speed: 
          p #{Details.stats.attackspeed}
        .stat-wrapper
          p Attack Damage per level: 
          p #{Details.stats.attackdamageperlevel}
        .stat-wrapper
          p Attack speed per level: 
          p #{Details.stats.attackspeedperlevel}
        .stat-wrapper
         p Mana regen per level: 
         p #{Details.stats.mpperlevel}
        .stat-wrapper
          p Health regen per level: 
          p #{Details.stats.hpperlevel}
        .stat-wrapper
          p Armor per level: 
          p #{Details.stats.armorperlevel}
        .stat-wrapper 
          p Magic Resist per level: 
          p #{Details.stats.spellblockperlevel}
        .stat-wrapper
          p Mana regen per level: 
          p #{Details.stats.mpregenperlevel}
        .stat-wrapper
          p Mana per level: 
          p #{Details.stats.mpperlevel}
        .stat-wrapper 
          p Crit: 
          p #{Details.stats.crit}
        .stat-wrapper
          p Crit per level: 
          p #{Details.stats.critperlevel}
        p 
          a.button.del(href=Details.url+'/delete') Delete 
        p
          a.button.update(href=Details.url+'/update') Update champion
      .basic-info 
        img.splashart(src=img2)
        .stats-info 
          .general-stats-wrapper
             p Attack: 
             p #{Details.info.attack}
          .general-stats-wrapper
             p Defense:
             p #{Details.info.defense}
          .general-stats-wrapper
            p Magic:
            p #{Details.info.magic}
          .general-stats-wrapper 
            p Difficulty: 
            p #{Details.info.difficulty}
        p(class='title-general') Class Type
        each classtype in Details.class
          p=classtype.name 
        p(class='title-general') Resource Type 
          p=Details.resourcetype.name     