extends layout

block content
  h1= title
  a.button.update.res.create.home.end(href='/') HOME
  .wrapper-grid 
    each champ in Details
     - var img = 'https://ddragon.leagueoflegends.com/cdn/12.19.1/img/champion/'+champ.key+'.png'
      .item-wrapper 
       a(href=champ.url) 
        img(src=img)
        p #{champ.name}  
  p 
    a.button.del.res(href=resource.url+'/delete') Delete resource
  p
    a.button.update.res(href=resource.url+'/update') Update resource  